.product-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

// media query
// asi logramos hacer responsive la aplicacion
@media (min-width: 500px) {
    .product-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}